@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Montserrat;
    background-color: gray;
}

.content{
    display: grid;
    grid-template-columns: 100%;
}
.title{
    height: 300px;
    font-size: 75px;
}

.main-news h1{
    font-size: 50px;
}

.main-news p{
    font-size: 25px;
}

.news{
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: 500px 500px 500px;
    gap: 30px;
}

.news-item{
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 10px;
}

.news-item img{
    z-index: -10;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.news-item h2{
    position: relative;
    top: -500px;
    left: 30px;
}

.news-item p{
    width: 400px;
    position: relative;
    top: -500px;
    left: 30px;
}

.socials{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}

.socials a img{
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
}